.container {
  display: block;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
}

.shapes {
  position: relative;
  top: 0;
  left: 0;
}

#triangleImage {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
}

#rectangleImage {
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 2;
}

.hamburger {
  box-sizing: border-box;
  margin-right: 32px;
}

.rec {
  background-color: black;
  width: 32px;
  height: 5px;
  display: block;
  position: absolute;
}

.rectangle1 {
  top: 29px;
}

.rectangle2 {
  top: 39px;
}

.rectangle3 {
  top: 49px;
}

/* main-css */

.main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 100px;
}

#header {
  font-family: Playfair, 'Playfair Display', Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  margin: 4px 32px;
  color: #1a2236;
}

#discription {
  margin: 15px 32px;
  color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.primary-button {
  margin: 32px 0;
  display: flex;
  background-color: #1a2236;
  justify-content: center;
}

.primary-button button {
  flex: 1;
  background-color: #1a2236;
  padding: 12px 42px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 26px;
  text-align: center;
}

.footer {
  margin-top: 42px;
  background: #fff url(/images/bg-cover-page.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 250px;
}

/* Work-section */

.work h1 {
  font-family: 'Playfair', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
}

.work .project {
  width: fit-content;
  background: #1a2236;
  color: #fff;
  padding: 0%;
}

.project img {
  width: 100%;
  background-clip: border-box;
}

.project h3 {
  margin: 25px 32px 5px 32px;
  font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
}

.project .tech-stack {
  display: grid;
  margin: 25px 32px 5px 32px;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 15px;
  color: rgb(54, 52, 52);
}

.project .tech-stack span {
  padding: 5px 10px;
  border: 1px solid #000;
  background: #98dede;
  text-align: center;
  color: rgb(54, 52, 52);
}

.project button {
  margin: 25px 32px;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  padding: 15px 25px;
  border: 1px solid #fff;
  background: #1a2236;
  text-align: left;
  color: #fff;
}

.project button i {
  margin-left: 10px;
  color: #fff;
  font-size: 22px;
}

/* hover-effects */
.project button:hover {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

.project button:active {
  border: 2px solid #fff;
}

.project > button:hover i {
  color: #1a2236;
}

.primary-button button:hover {
  border: 1px solid #1a2236;
  background-color: white;
  color: #1a2236;
}

.primary-button button:active {
  border: 2px solid #1a2236;
  background-color: white;
  color: #1a2236;
}

/* About-section */

.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  padding: 10px;
}

.about-us h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0%;
}

.about-us p {
  width: 380px;
  text-align: justify;
}

.about-us .button {
  display: flex;
  background: #1a2236;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.about-us .button small {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.about-us .button div {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-left: 15px;
  background: #1a2236;
  border: 2px solid #fff;
  border-top: none;
  color: #fff;
  text-indent: 0.05em;
  font-size: 20px;
}

.about-us .skills {
  padding: 45px;
  margin: 20px 0;
  color: #fff;
}

.about-us .lang {
  background: #1c528a url(/images/lang-bg.png) right bottom no-repeat;
}

.about-us .framework {
  background-color: #e2505c;
  background-image: url(/images/framework-bg2.png), url(/images/framework-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
}

.about-us .skill {
  background: #febf52 url(/images/skill-bg.png) right bottom no-repeat;
}
